{% extends "base.html" %}
{% load account_tags %}
{% block content %}
<div class="container">
  <div class="row">
  <h2>Content for My App</h2>
  <p>{{ task_data }}</p>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <form action="/signup/" method="post">
    {% csrf_token %} 
       {% for field in form.visible_fields %}
        {% if field.html_name == 'phone_number' %}
        <div class="row">
            <div class="col-xs-12">
              <label for="phone_number">Phone Number (format: xxx-xxx-xxxx):</label><br/>
              <input type="tel" name="phone_number" pattern="^\d{3}-\d{3}-\d{4}$" required="" id="id_phone_number">
          </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-xs-12">
              <label>{{ field.label }}</label>
              {{ field }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
    <input type="submit" value="Submit" />
  </form>
  </div>
</div>

{% endblock content %}