{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
  <h2>Content for My App</h2>
  <p>{{ task_data }}</p>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <form action="/test-report/" method="post">
    {% csrf_token %} 
       {% for field in form.visible_fields %}
       <div class="row">
          <div class="col-xs-12">
            <label>{{ field.label }}</label>
            {{ field }}
          </div>
        </div>
        {% endfor %}
    <input type="submit" value="Submit" />
  </form>
  </div>
</div>

{% endblock content %}